{% extends "index.html" %}

{% block title %}
Login
{% endblock title %}

{% block content %}
<div class="columns is-centered" style: style="margin-left: -99px;">
  <div class="column is-9 is-offset-9">
    <div class="block">
      <h3 class="title is-3">Login</h3>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info is-rounded is-normal mt-5" type="submit" style="width: 7em">Login</button>
          </div>
        </div>
      </form>
      <form action='{% url "create_user" %}'>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info is-rounded is-normal mt-5" type="submit" style="width: 7em">Sign-Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
